.centered {
	text-align: center;
}

.verticalSpacerBottom {
	margin-bottom: 25px;
}

.gameName {
	background-image: linear-gradient(to right, red, orange, yellow, green, #4287f5);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: bold;
	font-family: Broadway;
}

.columnContents {
	width: 23%;
	padding: 1%;
	border: 2px solid white;
	background-color: #E8E8E8;
}

.sectionHeader {
	font-weight: bold;
	padding: 1px
}

.headerBackground1 {
	background-color: red;
}

.headerBackground2 {
	background-color: orange;
}

.headerBackground3 {
	background-color: yellow;
}

.headerBackground4 {
	background-color: green;
	color: white;
}

.headerBackground5 {
	background-color: #4287f5;
	color: white;
}

.fieldTitle {
	font-weight: bold;
	text-align: left;
	margin-top: 4px;
	font-size: smaller;
}

.fieldStyle {
	width: 95%;
	margin-bottom: 5px;
}

.checkboxStyle {
	width: 25%;
	height: 25px;
}

.button {
	padding: 15px;
	font-weight: bold;
	font-family: Broadway;
	font-size: larger;
	color: white;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.buttonSubmit {
	background-image: linear-gradient(to right, red, orange, yellow, green, #4287f5);
}

.buttonReset {
	background-color: red;
}

/*Counter field with -/+ buttons*/
.number {
	margin-bottom: 5px;
}
.minus, .plus{
	cursor:pointer;
	width:25px;
	height:25px;
	background:#f2f2f2;
	border-radius:4px;
	border:1px solid #ddd;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}
.counter{
	width: 100px;
	text-align: center;
	border:1px solid #ddd;
	border-radius:4px;
	display: inline-block;
	vertical-align: middle;
}
