.centered {
	text-align: center;
}
.GameName {
	background-image: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: bold;
	font-family: Broadway;
}

.colWidth {
	width: 25%;
}

.columnContents {
	margin-bottom: 20px;
	padding-top: 5px;
	padding-bottom: 15px;
	background-color: #E8E8E8;
}

.sectionHeader {
	font-weight: bold;
	padding: 1px
}

.headerBackground1 {
	background-color: violet;
}

.headerBackground2 {
	background-color: indigo;
	color: white;
}

.headerBackground3 {
	background-color: blue;
	color: white;
}

.headerBackground4 {
	background-color: green;
	color: white;
}

.headerBackground5 {
	background-color: yellow;
}

.headerBackground6 {
	background-color: orange;
}

.headerBackground7 {
	background-color: red;
}

.fieldStyle {
	width: 95%;
	margin-bottom: 5px;
}

/*Counter field with -/+ buttons*/
.number{
	margin:50px;
}
.minus, .plus{
	cursor:pointer;
	width:25px;
	height:25px;
	background:#f2f2f2;
	border-radius:4px;
	border:1px solid #ddd;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}
.counter{
	width: 100px;
	text-align: center;
	border:1px solid #ddd;
	border-radius:4px;
	display: inline-block;
	vertical-align: middle;
}
